*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
    background: #F9FAFB;
}
.container{
    width: 100%;
}
/*HEADER*/
.header{
    width: 100%;
    height: 80px;
}
.header_navbar{
    margin-top: 1rem;
    float: right;
}
.btn{
    color: #000;
    border: white;
    fill: currentColor;
}
.btn-outline-dark{
    border: 1px solid #e5eaf0;
    font-size: 13px;
    font-weight: bold;
}

.info-list{
    width: 100%;
}
    .CardUser a{
        text-decoration: none;
        color: #454f59;
        font-weight: bold;
    }
    .not_found h1{
        margin-bottom: var(--space-2xs);
        color: #000;
        font-size: 31px;
        margin-bottom: 5px;
    }
.SolutionDetail_viewPort{
    border-radius: 5px;
    border: 1px solid #e5eaf0;
    
}
    .SolutionDetail_previewHeader{
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
    .SolutionDetail_previewHeader{
        height: 73px;
        background: #ffffff;
    }
    .SolutionDetail_previewHeader h2{
        margin-left: 13px;
        color: #454f59;
    }
    .SolutionDetail_button{
        margin-top: 5px;
        padding: 0 5px;
        display: inline-block;
    }
    .SolutionDetail{
        margin-bottom: 1.5rem;
    }
    .SolutionDetail p{
        color: #454f59;
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 9px;
    }
    .SolutionDetail_previewHeader h2{
        margin-top: 18px;
        font-size: 24px;
    }
    .SolutionDetail_button{
        margin-top: 17px;
        margin-left: 50px;
    }

/*main_priview*/
    .main_priview{
        background: #ffffff;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 10px;
    }
    .priview__image{
        margin-top: 135px;
        margin-left: 35px;
        width: 450px;
        height: 590px;
    }
    .priview__image img{
        display: block;
        position: relative;
        max-width: 590px;
    }
    .priview__textRight h1{
        font-size: 64px;
        position: relative;
        margin-top: 170px;
    }
    .priview__buttonHome a{
        position: relative;
        margin-top: 90px;
        width: 150px;
        height: 50px;
        color: #F9FAFB;
    }
    .priview__buttonHome a{
        font-size: 15px;
    }

/*section__SideBar*/
    .section__SideBar{
        border: 1px solid #e5eaf0;
        background: #F9FAFB;
    }

    /*main_feedback*/
.main__feedback{
    margin-top: 40px;

}
    .feedback_text{
        color: #454f59;
        margin-bottom: 20px;
    }
    .border_feedback{
        display: grid;
        grid-template-columns: 0fr 1fr;
        grid-gap: 15px;
    }
    .border_feedback{
        border-radius: 5px;
        border: 1px solid #e5eaf0;
        background: #ffffff;
        padding: 20px;
    }
    .feedback_left{
        color: white;
    }
    .btn-tang{
        text-align: center;
        color: black;
        border-radius: 3px;
        border: 1px solid #e5eaf0;
        width: 205px;
        height: 43px;
        background: #F9FAFB;
    }
        .btn-button-wap{
            margin-top: 7px;
        }
    .fical-btn{
        border-radius: 3px;
        border: 1px solid #e5eaf0;
        width: 205px;
        margin-top: 15px;
        height: 143px;

    }
        .fical_user img{
            float: left;
            margin-right: 7px;
            padding: 10px;
        }
        .fical_user a{
            font-weight: bold;
            text-decoration: none;
            color: #000;
        }
        .fical_user p{
            margin-top: 5px;
        }

    .right_text {
        width: 565px;
        height: 200px;
        background: #F9FAFB;
        border-radius: 3px;
    }
    .right_text p{
        font-size: 20px;
        color: #000;
        padding: 15px;
    }
    .feedback_text{
        font-size: 25px;
    }

/*section _ enviroment*/
.enviroment{
    margin-left: 170px;
}
.enviroment-item{
    border: 1px solid #e5eaf0;
    border-radius: 5px;
}

        .first{
            margin-right: 10px;
            margin-bottom: 20px;
            height: 95px;
            background: #ffffff;
        }
        .third{
            margin-left: 10px;
            margin-bottom: 20px;
            height: 95px;
            background: #ffffff;
        }
        .second{
            margin-right: 10px;
            margin-bottom: 20px;
            height: 95px;
            background: #ffffff;
        }
        .four{
            margin-left: 10px;
            margin-bottom: 20px;
            height: 95px;
            background: #ffffff;
        }
.product__link{
    margin-top: 1rem;
}
.heading__title{
    margin-top: 3rem;
    font-size: 25px;
    color:  #454f59;
}
.product__link{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.card_title{
    font-size: 17px;
    margin-top: 15px;
}
.product__link a{
    text-decoration: none;
    list-style: none;
    color: #000;
}
.product__link a:hover{
    color: blue;
}

    .icon_link{
        text-align: center;
        float: left;
        margin-right: 1rem;
        width: 60px;
        height: 60px;
        background: #2ECCFA;
        border-radius: 8px;
        margin-left: 20px;
        margin-top: 15px;
    }
    .icon_link1{
        text-align: center;
        float: left;
        margin-right: 1rem;
        width: 60px;
        height: 60px;
        background: #0040FF;
        border-radius: 8px;
        margin-left: 20px;
        margin-top: 15px;
    }
    .icon_link2{
        text-align: center;
        float: left;
        margin-right: 1rem;
        width: 60px;
        height: 60px;
        background: red;
        border-radius: 8px;
        margin-left: 20px;
        margin-top: 15px;
    }
    .icon_link i{
        margin-top: 20px;
    }
    .icon_link1 i{
        margin-top: 20px;
    }
    .icon_link2 i{
        margin-top: 20px;
        position: relative;
        max-width: 20px;
    }

    /*tabar*/
    .section_Tabar{
        background: #ffffff;
        height: 340px;
        border-radius: 6px;
    }
    .btn_button_table{
        text-align: center;
        color: black;
        border-radius: 3px;
        border: 1px solid #e5eaf0;
        width: 222px;
        height: 43px;
        background: #F9FAFB;
        margin-top: 20px;
    }
    .element_link{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .element_link{
        margin-top: 10px;
    }
    .link-checkbox a{
        float: left;
        padding: 4px;
        color: #454f59;
    }
    .text-element{
        font-size: 17px;
        font-weight: bold;
    }
.element_link{
    background: #ffffff;
    width: 222px;
    border-radius: 6px;
    margin-top: 25px;
    padding: 5px;
}
.row{
    display: grid;
    grid-template-columns: 0.4fr 2fr 0.5fr;
}
    /*ROW*/
.footer_andPage{
    margin-left: 280px;
    margin-top: 45px;
    background: #f6f7fb;
}
.element{
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
}
.element{
    margin-left: 1rem;
}
.footer_address p{
    color: #000;
    margin-top: 7px;
    font-size: 15px;
    font-weight: normal;
}
.footer_menu ul li{
    list-style: none;
    padding: 5px;
}
.footer_menu li a{
    text-decoration: none;
    color: #000;
    padding: 10px;
}
.footer_menu a:hover{
    color: blue;
}
.footer_address .gmail{
    font-size: 13px;
}


.element_img{
    margin-top: 17px;
    background: #f6f7fb;
    border-radius: 6px;
    height: 179px;
    width: 222px;
}
.element_img img{
    text-align: center;
    margin-left: 10px;
    margin-top: 10px;
}
.element_img a{
    text-decoration: none;
    color: #000;
}
.element_img h3{
    font-size: 15px;
    margin-left: 8px;
    padding-top: 10px;
}
.element_img p{
    font-size: 11px;
    margin-top: 5px;
    margin-left: 8px;
}

